header .main_menu nav .nav-right a:hover{
    color: red;
}

.card-pricing__price span {
    font-size: 20px;
}

.card-pricing__price {
    font-size: 40px;
}

@media(min-width: 991px)
.card-pricing__price {
    font-size: 40px;
}

.img-custom{
    width: 300px;
}
